<input type="checkbox" id="registerCheck" name="" hidden>
<div class="content">
    <div class="front card">
        <div class="inner">
            <h3>Connexion</h3>
            <input required type="text" name="mail" placeholder="E-mail">
            <input required type="password" name="pass" placeholder="Mot de passe">
            <button type="button" style="max-width: 160px;">Se connecter</button>
            <div class="spacer"></div>
            <label for="registerCheck" aria-hidden="true">
                <h5 class="second-color-text">Inscription
                    <mat-icon style="margin-bottom: -6px;">arrow_forward</mat-icon>
                </h5>
            </label>
        </div>
    </div>
    <div class="back card">
        <div class="inner">
            <h3>Inscription</h3>
            <input required type="text" name="mail" placeholder="E-mail">
            <input required type="password" name="pass" placeholder="Mot de passe">
            <input required type="password" name="pass2" placeholder="Répétez le mot de passe">
            <button type="button" style="max-width: 160px;">S'inscrire</button>
            <div class="spacer"></div>
            <label for="registerCheck" aria-hidden="true">
                <h5 class="second-color-text">
                    <mat-icon style="margin-bottom: -6px;">arrow_backward</mat-icon>
                    Retour à la connexion
                </h5>
            </label>
        </div>
    </div>
</div>
